<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nora-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,444}</string>
                <key>spriteSourceSize</key>
                <string>{260,444}</string>
                <key>textureRect</key>
                <string>{{0,0},{260,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nora-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,432}</string>
                <key>spriteSourceSize</key>
                <string>{257,432}</string>
                <key>textureRect</key>
                <string>{{260,0},{257,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nora-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,440}</string>
                <key>spriteSourceSize</key>
                <string>{269,440}</string>
                <key>textureRect</key>
                <string>{{517,0},{269,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nora-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,440}</string>
                <key>spriteSourceSize</key>
                <string>{264,440}</string>
                <key>textureRect</key>
                <string>{{786,0},{264,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nora.png</string>
            <key>size</key>
            <string>{1050,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edd734e4183474817fd7c8557fcc53d7:f98a129907559fe9476a48554f0e165c:aaaaac29825fe469dabf35d24a26dca9$</string>
            <key>textureFileName</key>
            <string>nora.png</string>
        </dict>
    </dict>
</plist>
